{% extends 'base.html' %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/ads.css' %}">
{% endblock %}
{% block contents %}
<div class="main">
  {% for i in ads %}
    <div class="box">
      <p>{{ i.category }}</p>
      <img src="/user/{{ i.image }}" alt="{{ i.title }}">
      <p>{{ i.title }}</p>  
      <div class="btn-group">
        <a href="{% url 'myads' i.id %}">
          <button class="btn btn-primary">Edit</button>
        </a>
        <a href="{% url 'adel' i.id %}" style="text-decoration: none;">
          <button class="btn btn-danger">Delete</button>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

{%endblock%}