{% extends 'base.html' %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addetail.css' %}">
{% endblock %}
{% block contents %}
<div class="main" style="background-color: rgb(243, 239, 239);">
    <div class="carouselsizechart" style="flex-wrap:wrap; width:100%">
            <div class="carousel"><div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in adi %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="/user/{{ i.image.url }}" class="d-block w-100" alt="Product Image">
                    </div>
                    {% empty %}
                    <img src="/user/{{ads.image}}">
                {% endfor %}
            </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
           
            
    </div>   




    <div class="details">
        <div class="nametitledes">
            <div class="nametitle">
            
            <h3>{{ads.title}}</h3>
            </div>
            <div class="des">
                <h3>Description</h3>
                <p>{{ads.Description}}</p>
            </div>
        </div>
        
        
        <div class="pricename">
            <div class="price">
                <h6 style="font-size: 60px;">₹{{ads.Price}}</h6>
                <button class="makeoffer">Make offer</button>
            </div>
            
            
            <div class="name">
                <p style="font-size: 40px;">{{ads.user.username}}</p>
                
                <p style="font-size: 10px;">{{ads.Email}}</p>
                <a href="{% url 'sentmsg' ads.id %}">
                <button class="msg">Chat with seller</button>
                </a>
                <p style="font-size: 20px;">Call:{{ads.contact}}</p>
            </div>
        
        </div>
        
    
        
        
        
        
        
    </div>
    

    </div>
{% endblock %}