
<div class="bg-white border-top border-bottom py-2">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-between">
      
      
      <div class="dropdown me-3 ">
        <a class="dropdown-toggle text-dark text-decoration-none fw-bold category_dropdown" href="#" id="categoryDropdown" data-bs-toggle="dropdown">
          All Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
          {% for i in cat %}
            <li><a class="dropdown-item" href="{% url 'cat' i.id %}">{{ i.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
  
      
      <div class="d-flex flex-row flex-wrap gap-3 overflow-auto categorymenu" style="white-space: nowrap;">
        {% for i in cat %}
          <a href="{% url 'cat' i.id %}" class="text-decoration-none text-dark" style="font-size: 16px; min-width: fit-content;">
            {{ i.title }}
          </a>
        {% endfor %}
      </div>
  
    </div>
  </div>
  
