<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-3">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      
      {% load static %}
      <div class="d-flex align-items-center">
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'home' %}">
          <img class='olx' src="{% static 'images/nolxlogo.png' %}">
        </a>
      </div>
  
      
      <div class="collapse navbar-collapse" id="mainNavbar">
        
        <div class="d-flex flex-row flex-lg-row align-items-start align-items-lg-center gap-2 me-lg-3 mt-2 mt-lg-0">
          
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">India</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">India</a></li>
              <li><a class="dropdown-item" href="#">UAE</a></li>
            </ul>
          </div>
  
          
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">English</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Malayalam</a></li>
            </ul>
          </div>
        </div>
  
        
        <form class="d-flex flex-grow-1 mx-lg-2 my-2 my-lg-0" method="GET" action="{% url 'search_ads' %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Search 'Properties'" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">
            <span class="material-symbols-outlined">search</span>
          </button>
        </form>
  
        
        
          
      </div>
      
    <div class="d-flex align-items-center gap-3 ms-2">
        <a href="#" class="nav-link text-dark"><span class="material-symbols-outlined">favorite</span></a>
        <a href="{% url 'allmessages' %}" class="nav-link text-dark"><span class="material-symbols-outlined">chat</span></a>
        {% if user.is_authenticated %}
        <div class="dropdown">
            
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown">
              {% if user.userprofile.img %}
                <img src="/user/{{user.userprofile.img.url}}" class="profilepic" style="width: 40px; border-radius: 50%;">
              {% else %}
                <span class="material-symbols-outlined">face</span>
              {% endif %}
              <span class="fw-semibold d-none d-sm-inline">{{ user.username }}</span>
            </a>
            
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'profile' %}">{{ user.username }}</a></li>
              <li ><a class="dropdown-item" style="background-color: black; color:white; width:100%; display:flex; justify-content:center; align-items:center; text-align:center" href="{% url 'profile' %}">View and Edit Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'ads' %}">My Ads</a></li>
              <li><a class="dropdown-item" href="{% url 'inbox' %}">Messages</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><span class="material-symbols-outlined">logout</span> Logout</a></li>
            </ul>
            
        </div>
        <a href="{% url 'addpro' %}" class="btn btn-warning fw-bold text-dark d-flex align-items-center justify-content-center">
          <span class="material-symbols-outlined me-1">add</span> SELL
        </a>
        {% endif %}  
      {% if not user.is_authenticated %}
      <div class="d-flex align-items-center gap-2 ms-auto">
        <a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a>
        
      </div>
      {% endif %}
  </div>
  
      
      
    </div>
  </nav>
  
  
  
  

  