{% extends 'base.html' %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block contents %}
{% if messages %}
<ul class="messages" id="auth-message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:medium">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="main">
    <form method="post" class="loginform">
    {% csrf_token %}
    <input type="text" placeholder="Username" name="user">
    <input type="password" placeholder="Password" name="pass">
    <button class="log_in" type="submit">Login <span class="material-symbols-outlined">
        login
        </span></button>
    <p>New user?<a href="{% url 'register' %}">Sign up</a></p>
    </form>
</div>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}