{% extends 'base.html' %}
{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block contents %}
<div class="main">
    <div class="imgname" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      {% if pro.img %}
      <img class="profile_pic"  src="/user/{{pro.img}}">
      {% else %}
      <span class="material-symbols-outlined">
        face
        </span>
      {%endif%}
        <p>{{pro.user}}</p>
        <p>About:{{pro.bio}}</p>
        <p>Contact:{{pro.phone}}</p>
        <p>Address:{{pro.address}}</p>  
    </div>
  <div >
    <a href="{% url 'editpro' pro.id %}" style="text-decoration: none; color:black">
    <button class="edit"><span class="material-symbols-outlined">
      edit
      </span>Edit profile</button>
  </a>
  </div>
  
  
  <a href="{% url 'ads' %}" style="text-decoration: none; color:black">My ads</a>  
</div>

{% endblock %}